<nav class="mobile-header">
    <div class="left">
      <%= link_to root_path, class: "nav-link" do %>
        <figure class="logo">CarJourney</figure>
      <% end %>
    </div>

    <!-- Hamburger label only – no input here anymore -->
    <label for="mobile-menu-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
</nav>