<section>
    <div class="inner-content">
        <div class="columns center">
            <div class="column">
                <h1>Marcus Aurelius</h1>
                <h3>Philospher | Stoic</h3>
                <p></p>
                <div class="cta-container">
                <%= link_to "Explore Now", "#", class: "cta-button" %>
                <%= link_to "Contact Us", "#", class: "cta-button outlined" %>
                </div>
            </div>
            <div class="column headshot">
                <%= image_tag "marcus.webp", alt: "Marcus Aurelius", width:'500px' %>
            </div>
           
        </div>
    </div>
</section>

<section class="quotes">
  <div class="inner-content">
    <div class="columns center">
      <div class="column">
        <div id="quotes">
          <% if @quote %>
            <%= render @quote %>   <!-- Rails auto-looks for app/views/quotes/_quote.html.erb -->

            <!-- Optional: fallback message if no quote exists -->
          <% else %>
            <p class="has-text-centered">No quotes available yet.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>