<section>
    <div class="inner-content">
        <div class="columns center">
            <div class="column">
                <h1>Marcus Aurelius</h1>
                <h3>Philospher | Stoic</h3>
                <p></p>
                <div class="cta-container">
                <%= link_to "Explore Now", "#", class: "cta-button" %>
                <%= link_to "Contact Us", "#", class: "cta-button outlined" %>
                </div>
            </div>
            <div class="column headshot">
                <%= image_tag "marcus.webp", alt: "Marcus Aurelius", width:'500px' %>
            </div>
           
        </div>
    </div>
</section>